[2013-12-11 03:11] Electroid opened #1 "Ignore"

[2014-01-04 02:27] BrummyNinetySeven opened #2 "404 image not on website"
I think that ya'll should put the picture of the carrot on your own assets folder of using someone else's (http://www.blocksandgold.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/c/a/carrot.png)

[2014-01-04 02:29] BrummyNinetySeven opened #3 "Footer mixing with main body"
http://mapdev.it/revisions/maps

You can see that the footer is merging with the table :(

[2014-01-04 02:36] BrummyNinetySeven opened #4 "Slow page loading"
I'm not sure if it's just me but http://mapdev.it/revisions/web takes an awfully long time to load and switch though the tabs

[2014-01-04 09:49] molenzwiebel commented on #4
It is currently using a github api, but we (I) are thinking of switching it to something a lot faster.

[2014-01-05 00:37] #3 closed, assigned to AustinLMayes

[2014-01-05 20:35] BrummyNinetySeven commented on #3
erm, this still isn't fixed, try adding a few <br>'s at the bottom

[2014-01-07 03:43] AustinLMayes commented on #4
@molenzwiebel Care to share?

[2014-01-10 21:56] itsmiiolly opened #5 "Time and Weather not locking(?)"
Time and weather does not lock even after using the command.

Only fix is by toggling it multiple times.

[2014-01-18 11:15] tstewart opened #6 "Players can destroy and move entities without permissions/when world is locked"

[2014-02-24 21:06] SuperArmor opened #7 "Infractions not colo(u)red"
./l <name>
Picture: http://i.imgur.com/mYhVj5s.png
The § symbol or the & does not change the colo(u)r thus resulting in the picture.

Olly made me post this .-.

[2014-02-26 19:30] molenzwiebel commented on #7
Error with the locale on the operating system not knowing the character §. I can't fix this, electroid needs to

[2014-03-01 19:30] AustinLMayes commented on #7
I have no idea what plugin that is. Someone needs to update to latest Moderator and remove permit.

[2014-03-03 22:15] itsmiiolly opened #8 "Slimes still spawn when monsters are off"
_This is purely for future reference_

Only fix for it at the moment is `/gamerule doMobSpawning false`.

[2014-03-03 22:17] itsmiiolly commented on #5
Updated OP.

[2014-03-03 22:20] itsmiiolly commented on #4
This _might_ be a Github issue, but there is no fix for it.

[2014-03-03 22:20] #4 closed, assigned to AustinLMayes

[2014-03-03 22:21] itsmiiolly opened #9 "Punching blocks/air in a locked world displays wrong message"
Displays message: "You cannot use VoxelSniper here because the world is locked!"

[2014-03-03 22:24] itsmiiolly opened #10 "Tip #11 formatting issue"
Formatting is odd on tip number 11.

To display: `/announce broadcast 11`.

[2014-03-07 02:20] #8 closed, assigned to AustinLMayes

[2014-03-07 02:21] AustinLMayes commented on #7
Fixed when new Moderator is deployed

[2014-03-07 02:21] #7 closed, assigned to AustinLMayes

[2014-03-07 02:22] AustinLMayes commented on #2
No.

[2014-03-07 02:26] AustinLMayes commented on #6
We'll need the EntityColide event from SB to fix this

[2014-03-07 06:38] molenzwiebel commented on #2
Yes

[2014-03-07 16:05] itsmiiolly commented on #2
lol

[2014-03-09 21:59] itsmiiolly opened #11 "/map will occasionally take you to spawn instead of your world [fixed but might still occur]"
_for future references and stuff_
**currently fixed by increasing unload time**

/map will occasionally take you to spawn instead of your world, which causes problems if you want to get to your world.

**Possible causes**
• Short unload time (seems to be fixed now)
• Rapid use of teleporting

**Solutions**
• Increase unload time (seems to fix it for now)
• Restart/reload server

[2014-03-09 22:07] itsmiiolly commented on #2
Fixed :)

[2014-03-09 22:07] #2 closed, assigned to AustinLMayes

[2014-04-15 16:07] #1 closed, assigned to nobody

[2014-04-15 19:35] Matic0B opened #12 "Website suggestions"
- [x] Improve footer with tabs or pills
- [ ] Add a 404.html page **[INVALID]**
- [x] The group on the left in getting_started doesnt seem to be working
- [x] Move the navbar so it starts a little later more to the right and move the Log In nav to pull-right
- [x] Make the navbar go cross screen like on OCN not stop when it reaches the end (I saw the rounded edges meaning it stops)
- [x] On the sh

[2014-04-15 19:41] Matic0B commented on #12
Make the 404.html page prettier and a way to return back to the main site. I just saw it. Sry bout the invalid thing

[2014-04-15 19:53] Matic0B opened #13 "Testing maps and server"
Possibly there could be a testing server.

Staff would upload the map with XML documentation and run a command called "/test". That would start up the server and load up the map AND broadcast the command "/server test" on all worlds on mapdev servers

[2014-04-15 20:05] itsmiiolly commented on #13
We have 3 OCN map developers who are able to test maps directly from Altitude. I don't think this needed IMO.

[2014-04-15 20:06] AustinLMayes commented on #12
Checkboxes!

[2014-04-15 20:06] itsmiiolly commented on #12
How the fuck did you do that...? XD

EDIT: Oh it's normal markdown. I didn't even know github was able to do that lol.

[2014-04-15 20:12] #13 closed, assigned to nobody

[2014-04-16 06:48] KalikaTheCat opened #14 "Give users a way to get full worldedit perms without having to pay any money"
Worldedit perms are a basic right on mapdev servers.

I can see where you are coming from with the lag issues, but having some sort of rank to gain full perms after showing they are trustworthy would be good.

[2014-04-16 07:01] ghost commented on #14
We'd also have to be careful to ensure the server wont crash. I do think there should be some kind of max limit, even for trustworthy. Right now it's set at 30k, so maybe set it at 80k or so for trustworthy? I'm not sure how bad that'd lag everything, but meh.

[2014-04-16 12:40] Matic0B commented on #14
I would say trusted would have extended limit to WE and Voxel. Possibly trusted would be 72 hours of play time and atleast 5 maps created and /download -ed.

[2014-04-16 14:03] Timothee38 commented on #14
I suggest to allow the (normal) users to have something such as a 15 radius brush or so maximum for voxel sniper!

[2014-04-16 16:28] BlockDrop74 commented on #14
I think pretty much everyone should have Worldedit, but as ieat had said, a limit. The testers could come up with good amount, that is big, but won't lag the server, and settle upon that limit. People who are just starting, would get a little less than that, trusted would get the limit talked about above. And the staff/owners of Altitude would get unlimited. I believe no payment should be involved

[2014-04-16 16:36] molenzwiebel commented on #14
Note that AsyncWorldEdit is installed, as well as two (2) server instances running. This partially to reduce WorldEdit load. The limit can be a bit higher, but certainly not unlimited.

[2014-04-16 22:42] Electroid commented on #14
@molenzwiebel We can talk about this. We should design a different version of world edit. If there is no queues for commands then it doesn't use async. But as more and more commands come in, it dynamically uses async. If a command is above half a million blocks, it will auto-save and backup everything prior. I believe strongly all users should not have a hard limit. But a dynamic one.

[2014-04-25 16:44] itsmiiolly opened #15 "Server lags when locking a world"
Seems to be the scoreboard that causes this, not sure if it's a problem with the plugin or a problem with skip's server.

[2014-04-25 16:55] Timothee38 opened #16 "Error with the spawn protections"
Ok, so I generated my world and started to build in it, but I found a bug. As you can see on the video, I can place blocks, but cant destroy them afterwards. I think this is due to a spawn protection radius or so.
https://www.youtube.com/watch?v=GG5AE_dQPgA&feature=youtu.be

Thanks for fixing anything.

[2014-04-25 16:59] itsmiiolly commented on #16
Changing the spawn-protection values to 0 should fix it. @skipperguy12

[2014-04-25 17:00] Timothee38 commented on #16
ok!

[2014-04-25 17:26] Matic0B opened #17 "Unable to craft"
I tried to color some armor in the crafting table, but every time I put an item into the 3x3 square the item was put back into my inventory, making me unable to craft.

I also tried in the 2x2 square on survival and the error was still there.

I disconnected and joined back but that did not fix it.

[2014-04-25 17:36] itsmiiolly commented on #17
Unable to produce.

[2014-04-25 17:37] Matic0B commented on #17
nvm olly restarted the server - all fine

[2014-04-25 17:53] #17 closed, assigned to nobody

[2014-04-28 01:46] #16 closed, assigned to nobody

[2014-07-03 21:07] SuperArmor opened #18 ""Welcome to Altitude" book is blank"
Thats about it. Not very welcoming. It has nothing on it.
http://gyazo.com/87870f592fe83ed83b9bc845355fe47d

[2014-07-03 21:11] ghost opened #19 "No permissions to //br"
Can't use //br, Olly said he's working on it but yea, I figured I'd post it here.

[2014-07-03 21:14] xannallax33 opened #20 "More than one map bug"
When I have two maps created and I delete one of the maps, then when I tp to the other map it starts to spawn me at the servers spawn.

[2014-07-03 21:27] BlockDrop74 opened #21 "[Urgent] Putting Items in Inventory"
**Caused by MyMaps book**

Whenever I would put items into my inventory, they disappear. This doesn't happen with the main nine slots, but does with the extra 27 slots, as well as armor.

[2014-07-03 21:28] SuperArmor opened #22 "Players can world edit in spawn map."
Bout it. Here is a screenshot:
http://gyazo.com/193bf7f139f4365aeea62688d2da5ff7

[2014-07-03 21:29] molenzwiebel commented on #22
This has to do with me forgetting to install the custom WorldEdit version. Uploading it now...

[2014-07-03 21:29] #22 closed, assigned to nobody

[2014-07-03 21:30] SuperArmor commented on #22
yay molen

[2014-07-03 21:35] molenzwiebel commented on #15
The scoreboard is actually causing this.

[2014-07-03 21:37] xannallax33 opened #23 "Able to use voxel on a locked world +Different world"
Title says it all, molen said he needed to upload that version.

[2014-07-03 21:47] itsmiiolly commented on #15
Please remove that shitty reload scoreboard lol.

[2014-07-03 21:47] itsmiiolly commented on #21
Are you lagging by any chance? Can anyone reproduce?

[2014-07-03 21:48] itsmiiolly commented on #19
Fixed already. Read the MOTD for Altitude updates.

[2014-07-03 21:48] #19 closed, assigned to nobody

[2014-07-03 21:49] itsmiiolly commented on #18
Working on it.

[2014-07-03 21:50] itsmiiolly commented on #5
Fixed.

[2014-07-03 21:50] #5 closed, assigned to molenzwiebel

[2014-07-03 21:55] BlockDrop74 commented on #21
@ItsMiiOlly I'm not lagging at all from what I see. The items never re-appear, they are just taken out of my inventory, never to be found again.

[2014-07-03 21:56] itsmiiolly commented on #21
Does it happen as soon as you put the items in? Is anyone else getting the same issue?

[2014-07-03 21:56] BlockDrop74 commented on #21
@ItsMiiOlly Yes, right when I put them in my inventory, they disappear.

[2014-07-03 21:58] itsmiiolly commented on #21
Is anyone else getting the same issue?

[2014-07-03 22:45] hdt80 commented on #21
I'm not but I'm op

[2014-07-04 03:35] Electroid opened #24 "Vanish Mode"
Allows you to basically "vanish" from the server. No chat. Can't see other users. It's like your own localhost.

Low priority.

[2014-07-04 18:36] BlockDrop74 commented on #21
@ItsMiiOlly I was able to get a video of what's going on exactly. Also, it seems the bottom 9 slots of the 27 are fine, but not the top 18. Here's a link: https://www.youtube.com/watch?v=6w5u6Yo7AbQ

[2014-07-04 18:38] itsmiiolly commented on #21
Alright, thanks.

[2014-07-04 18:40] Moo8x8 opened #25 "Moving at all lags you back"
Very new to this, no idea what to put here, but yea -  Whenever you move around, you lag back into place - extremely annoying

[2014-07-04 19:39] itsmiiolly commented on #25
Not sure what is causing the issue...

[2014-07-04 20:11] BlockDrop74 opened #26 "[Suggestion] Name Alerts"
On one of the MapDevs I would work on, if a players full username was said in chat, they would get a sound played as an alert sent to them. I suggest the same thing be implemented here on Altitude. Or maybe, if the player receives a pm, they would get an alert.

[2014-07-04 20:21] hdt80 commented on #26
I'll do it if no one was objections

[2014-07-04 20:23] BlockDrop74 commented on #26
@hdt80 I just thought about it, and this could be spammed. Maybe also make it so the sound can only be played once every minute?

[2014-07-04 20:30] hdt80 commented on #26
or just use /ignore or soemthing like that

[2014-07-04 20:36] Moo8x8 commented on #25
I think it's only 1.7.5 that causes this, I tried 1.7.2 and it was fine...

[2014-07-04 20:47] itsmiiolly commented on #25
That's very odd. Let me have a go.

[2014-07-04 20:48] itsmiiolly commented on #21
Unable to reproduce.

[2014-07-04 21:13] AustinLMayes commented on #21
@ItsMiiOlly You're opped

[2014-07-04 21:55] molenzwiebel commented on #21
Can reproduce, even though I have OP.

[2014-07-04 21:58] BlockDrop74 commented on #21
@molenzwiebel I was able to place items in the 18 slots earlier, now it's back, it seems it happens sometimes, and not others.

[2014-07-04 22:17] Timothee38 opened #27 "No platform spawns when I generate a world"
Not sure if it's meant to be like that, but I would add a platform maybe (like 1 to 5 blocks of bedrock) when somebody spawns on the world, not everyone will have the thing to do /up 1.
But basically, I did /create Timothee then /map Timothee and spawned in the air, kind of glitching, with not blocks under my character.

[2014-07-05 05:07] AustinLMayes commented on #21
Confirmed to only happen when elevation is loaded. Any ideas @molenzwiebel ?

[2014-07-05 05:09] AustinLMayes commented on #27
Worlds are created with a block of bedrock at spawn.

[2014-07-05 05:09] hdt80 commented on #27
not for me.

[2014-07-05 06:02] Dinner1111 commented on #26
I gave olly the plugin from PepDev

[2014-07-05 06:02] #26 closed, assigned to ollyy

[2014-07-05 06:55] Timothee38 commented on #27
not for me either then.

[2014-07-05 07:28] hdt80 commented on #27
To clarify I nor tim don't have bedrock at 0,0. Maybe this bedrock is at the world spawn?

[2014-07-05 08:28] molenzwiebel commented on #27
This is not a bug, it is just not implemented yet (not after the transition to Elevation 2.0 that is). Will add it in a bit.

[2014-07-05 09:02] #27 closed, assigned to nobody

[2014-07-05 09:18] molenzwiebel commented on #21
After experimenting a bit on localhost, I have not been able to reproduce this problem on my own server (so I get it on Altitude, but not on localhost). I have tried:
- non elevation-enabled worlds
- elevation-enabled world, me being owner of world, OP
- elevation-enabled world, me being owner of world, not OP
- elevation-enabled world, someone else being owner of world, OP
- elevation-enabled wor

[2014-07-05 12:20] Timothee38 commented on #27
ok.

[2014-07-05 21:28] BlockDrop74 commented on #21
@molenzwiebel It still happens for me

[2014-07-10 19:37] #25 closed, assigned to nobody

[2014-07-15 16:56] BlockDrop74 opened #28 "Teleporting to Worlds"
I currently have a problem with teleporting to worlds. Whenever I would type /map BlockDrop74, I would instead get tped to Avaleer's world, Ava1. So, I currently cannot access my own world. It even is the same for using the book to teleport.

[2014-07-15 19:02] itsmiiolly commented on #28
This has been a known bug for a while and we're not sure what is causing it. I'll have to mess around with unload times and see if that fixes it.

[2014-07-15 23:15] ryanwarsaw opened #29 "[Sug] Custom mobs"
Being able to use a plugin to create custom entities. Edit things such as its armor, color (villagers), and nametag as well as enable the ability to put potion effects and change other NBT data of the mob. :)

[2014-07-15 23:24] itsmiiolly commented on #29
Pretty sure all of this can be done with the plugin 'NBTEdit' we have on the server. Look in the help menu for commands. :)

[2014-07-15 23:24] #29 closed, assigned to nobody

[2014-07-16 00:48] AustinLMayes commented on #29
This repository is not for feature requests regardless.

[2014-07-17 05:16] hdt80 commented on #28
Its appears that a restart fixes it.

[2014-07-21 08:40] Matic0B opened #30 "Inventory Management"
Not a bug. More of a suggestion :)
Any way we could have it so each world would have another inventory per person? I hate changing my whole inventory if I go from a medieval map to a futuristic map (example). Just so the inventory is kept depending on what world you are in

[2014-07-21 16:25] AustinLMayes commented on #30
This would require a lot of extra data files, and is not needed.

[2014-07-21 16:25] #30 closed, assigned to nobody

[2014-07-21 16:36] itsmiiolly opened #31 "Temporarily remove Summit because we use BukkitPermissions now"
We're temporarily using BukkitPermissions now because Summit isn't complete. We can either:
- Remove Summit or disable it
- Remove everyone from the groups on Summit so I can properly apply the prefixes etc

[2014-07-21 16:38] itsmiiolly opened #32 "Disable ALL (but a few) plugins from worlds you don't own"
I can use Book of Souls on another person's world and I'm sure this applies to other plugins other than WE too. My suggestion is:
- Have a plugin where you can list which plugins / commands are blocked on worlds you don't own. This means you can TP out of worlds if you get stuck, use the compass etc

[2014-07-21 16:39] AustinLMayes commented on #31
Remove Summit, is broken

[2014-07-21 16:39] #31 closed, assigned to nobody

[2014-07-21 16:41] AustinLMayes commented on #32
This would require @ Plastix 's dynamic permission work.

[2014-07-21 17:01] itsmiiolly commented on #31
@NathanTheBook does this affect anything like the downloads?

[2014-07-21 17:03] AustinLMayes commented on #31
Elevatin handles downloads

[2014-07-21 17:05] itsmiiolly commented on #31
@NathanTheBook yay

[2014-07-21 21:41] Matic0B opened #33 "Display when a world is locked"
After doing /lock on a world and locking it make that display in the your worlds book under state in &cLOCKED

[2014-07-22 15:58] JsKingBoo opened #34 "Using /give without specifying an amount gives a "ghost item""
I'm guessing it's because the item's stack count is 0 or negative

To reproduce:
1. Fill your hotbar with random crap (not doing this step deletes the ghost item on click)
2. Type "/give you anything" with "anything" not being any of the random crap you filled your hotbar with, and "anything" must be stackable (like a stick)
3. Empty one slot of your hotbar
4. Shift click the ghost item. You shoul

[2014-07-22 17:18] AustinLMayes commented on #34
There has been a wired bug with the top two rows of an inventory getting stuck. The problem is caused by Elevation (can reproduce locally) and we are working on that. As for /give, it's command book.

[2014-07-22 18:53] JsKingBoo opened #35 "Breaking the bottom door with physics disabled will leave the top part"
But breaking the top part removes the bottom part

[2014-07-22 20:10] AustinLMayes commented on #35
It's a minecraft bug. Also happens with deny-world in PGM

[2014-07-22 20:10] #35 closed, assigned to nobody

[2014-07-23 01:29] Narwhale opened #36 "Dying in a locked world allows items to drop on the ground"
(1) /kill
(2) items fall on the ground

![](http://i.imgur.com/YTJH1bM.png)

[2014-07-23 01:41] AustinLMayes commented on #36
Would you rather have them drop and pick them up or they dissapear and you potentially loose a kit of items that took an hour to make?

[2014-07-23 01:42] Narwhale commented on #36
This is a locked world though, you can't even pick them back up with out unlocking it.

[2014-07-23 01:43] AustinLMayes commented on #36
oooo
I'll fix this then

[2014-07-23 01:51] #36 closed, assigned to nobody

[2014-07-23 01:51] AustinLMayes commented on #36
A fix is being sent to your address now

[2014-07-23 19:55] itsmiiolly opened #37 "People can still TP to you even when the world is set to private / when you're not added to it"
Frac set his world to PRIVATE but I can still TP to him (however, I can't go to his world be doing /map xxfracxx).

I'm not opped and my permission group was set to default.

[2014-07-23 21:27] hdt80 commented on #10
Is this still an issue?

[2014-07-23 21:28] itsmiiolly commented on #10
No.

[2014-07-23 21:28] #10 closed, assigned to ollyy

[2014-07-23 21:33] AustinLMayes commented on #37
I believe @Plastix fixed this on his branch.

[2014-07-24 02:34] Narwhale opened #38 "Logging in after a restart causes weird issues"
For some reason when I log in after a restart, I log in to the map that was last accessed even if I don't have the perms to visit the map. I really don't understand this bug at all but I can reproduce it pretty easily if needed.
Also I sometimes randomly get teleported to matic0basle's world even if he isn't online. This has happened to both hdt and me and I don't understand what causes this eithe

[2014-07-24 02:36] Narwhale opened #39 "MOTD gets reset after restarting the server"
Olly just fixed the motd today but after a restart it reset to the default motd. It seems like restarting the server causes a lot of problems for some reason...

![](http://i.imgur.com/YYtVQZ8.png)

[2014-07-24 08:00] itsmiiolly commented on #39
I haven't fixed the MOTD yet. I'll work on it in a bit :p

[2014-07-24 12:35] AustinLMayes commented on #39
I blame the waffles

[2014-07-24 18:32] itsmiiolly opened #40 "Unload/delete a world if it hasn't been used for more than ~2 Weeks"
Just to keep things nice and tidy. If a world hasn't been used for more than 2 weeks it gets unloaded/deleted. The world has to match the following criteria:
- World hasn't been access for ~2 Weeks
- Under 50 blocks have been built on the world
- If world is locked, don't unload/delete(?)

[2014-07-24 18:35] Electroid commented on #40
Under 1k. 2 Weeks unload. 1 Month delete.

Maybe donor rank bypasses this?

[2014-07-24 18:36] skipperguy12 commented on #40
This can be added when DynamicDatabase is finished. @NathanTheBook is working on it. When it's done we'll have to store each world's data in a mongo document, and just have a last accessed time, a block count (can stop counting after 50+ have been placed), and whatever else we need to check.

[2014-07-24 18:50] itsmiiolly commented on #40
@skipperguy12 Sounds good. ETA?

[2014-07-24 19:30] molenzwiebel commented on #38
We know what is causing you to get teleported to matic's world, but I need to figure out a good solution. @Plastix wrote the code for sending you to your own world after logging in, so he should know how to fix the error

[2014-07-24 19:32] molenzwiebel commented on #37
Custom TP commands are still not added, although they are done for quite some time now. Someone should put them in

[2014-07-24 19:32] #37 closed, assigned to nobody

[2014-07-24 19:34] Plastix commented on #38
I didn't write that code. I believe @skipperguy12 did.

[2014-07-24 19:56] Narwhale opened #41 "Setting yourself as AFK with /afk gives you 2 messages"
![](http://i.imgur.com/vFY9PYg.png)

[2014-07-24 20:16] Narwhale opened #42 "/c syntax message is messed up?"
It should say /c [message], not just /c

![](http://i.imgur.com/Naia7be.png)

[2014-07-24 20:19] itsmiiolly commented on #41
This is intended.

[2014-07-24 20:19] itsmiiolly commented on #37
@molenzwiebel Skipper managed to merge this into Elevation and it works.

[2014-07-24 20:48] AustinLMayes commented on #41
Wait what? BHow is that intentional? That just looks down right unprofesionsal. /cc @ItsMiiOlly

[2014-07-24 20:49] AustinLMayes commented on #42
/cc @hdt80

[2014-07-24 20:56] itsmiiolly commented on #41
This is how the commandbook author made it. We don't need to change it.

[2014-07-24 20:56] #41 closed, assigned to nobody

[2014-07-24 21:14] itsmiiolly opened #43 "Chickens spawn from eggs when animals are off"
yea

[2014-07-25 04:53] hdt80 commented on #42
yeah, I've been busy with other things, I'll work on buildsquad tommorow.

[2014-07-25 10:54] itsmiiolly opened #44 "If you get removed from a world, it still shows up in /mymaps"

[2014-07-25 10:54] itsmiiolly commented on #9
Stale issue and I think it has been fixed now

[2014-07-25 10:55] itsmiiolly commented on #12
Looks like everything on here was completed.

[2014-07-25 10:55] #12 closed, assigned to AustinLMayes

[2014-07-25 10:56] itsmiiolly commented on #14
Everyone now has (mostly) full access to WorldEdit.

[2014-07-25 10:56] #14 closed, assigned to nobody

[2014-07-25 10:56] itsmiiolly commented on #15
Fixed.

[2014-07-25 10:56] #15 closed, assigned to nobody

[2014-07-25 10:57] itsmiiolly commented on #28
Dupe of #11

[2014-07-25 10:57] #28 closed, assigned to nobody

[2014-07-25 10:58] itsmiiolly commented on #39
MOTD doesn't reset.

[2014-07-25 10:58] #39 closed, assigned to nobody

[2014-07-25 15:48] Dinner1111 commented on #43
those sneaky little chickens...

[2014-07-25 17:39] itsmiiolly opened #45 "Creating a second world should name it "<username>_2""
Only donators will be able to name their own worlds, so when normal users create a second world, it should be named "<username>_2".

Currently, when a second world is created, it will still name it "<username>".

[2014-07-25 17:41] itsmiiolly opened #46 "[Urgent] Deletion bug"
Let's say I have two worlds: ItsMiiOlly and ItsMiiOlly2. When I go into ItsMiiOlly2 and delete it, it will delete ItsMiiOlly and not the one I'm in.

This is a pretty major bug and should be fixed quickly.

[2014-07-25 17:42] itsmiiolly commented on #21
Confirmed & still exists.

[2014-07-25 18:16] molenzwiebel commented on #42
Only /c is possible as well though, it switches your chat channel. (/g for global)

[2014-07-25 18:17] molenzwiebel commented on #37
Cool, good to see you guys managing stuff without me :p

[2014-07-25 18:18] molenzwiebel commented on #9
Its not, custom VS just isn't installed. Although I do believe we already have this issue somewhere on the repo

[2014-07-25 18:20] itsmiiolly commented on #9
o

[2014-07-25 18:21] itsmiiolly commented on #37
@molenzwiebel Altitude has turned into chaos!!! Everything's on fire and shit pls come bak!!!

[2014-07-25 18:21] molenzwiebel commented on #45
This is actually really weird... The code does not check for donator, but instead for > 1 worlds allowed. Non-donators with 2+ worlds should be able to rename them. I guess Elevation doesn't check the arguments (and relies on the users intellect instead).

[2014-07-25 18:22] itsmiiolly commented on #45
I can possibly get @skipperguy12 or @RainoBoy97 to fix this. :)

[2014-07-25 18:23] Plastix commented on #37
Oh god please use correct spelling...
On Jul 25, 2014 2:21 PM, "Olly" notifications@github.com wrote:

[2014-07-25 18:25] molenzwiebel commented on #45
Just make a new issue in the Elevation repo I guess

[2014-07-25 18:28] itsmiiolly commented on #37
@Plastix Haha :P

[2014-07-25 19:51] hdt80 commented on #42
Olly wanted me to remove that.

[2014-07-25 19:54] AustinLMayes commented on #46
You should post these possibly game-breaking issues in the Elevation repo.

[2014-07-25 19:54] #46 closed, assigned to nobody

[2014-07-27 19:58] skipperguy12 commented on #43
ok

[2014-07-28 18:34] itsmiiolly commented on #43
This has now been fixed! :D

[2014-07-28 18:34] #43 closed, assigned to nobody

[2014-07-28 18:34] itsmiiolly commented on #44
Ignore

[2014-07-28 18:34] #44 closed, assigned to nobody

[2014-07-28 18:35] itsmiiolly commented on #33
This has been added (wools turn red).

[2014-07-28 18:35] #33 closed, assigned to nobody

[2014-08-02 14:19] itsmiiolly commented on #34
We'll continue discussion on #21 .

[2014-08-02 14:19] #34 closed, assigned to nobody

[2014-08-02 14:20] itsmiiolly commented on #21
I've done a bit of testing on my server a couple of weeks ago and concluded that the MyMaps book is causing this. Switching to using a list view of your maps should fix the problem.

[2014-08-02 14:21] itsmiiolly commented on #20
This is a known bug with worlds but it should be fine now. (I've increased the unload time)

[2014-08-02 14:21] #20 closed, assigned to nobody

[2014-08-02 14:21] #11 closed, assigned to molenzwiebel

[2014-08-02 14:22] itsmiiolly commented on #6
Any devs want to fix this bug? @NathanTheBook @hdt80 @skipperguy12 ?

[2014-08-02 14:23] itsmiiolly commented on #23
We'll handle this in a different issue.

[2014-08-02 14:23] #23 closed, assigned to nobody

[2014-08-03 10:24] molenzwiebel commented on #6
Destroying is fixed IIRC

[2014-08-03 12:31] itsmiiolly commented on #21
We're pleased to announce that this has been fixed. Thanks @hdt80 !

[2014-08-03 12:31] #21 closed, assigned to nobody

[2014-08-03 18:48] #42 closed, assigned to nobody

[2014-08-03 18:48] hdt80 commented on #42
Fixed.

[2014-08-03 19:04] molenzwiebel commented on #42
Please use a commit with "fixes AltitudeMapdev/Issues#42" so it closes automagically (as well as shows the ones who have access the commit) when you fix it. Thanks :)

[2014-08-03 21:02] itsmiiolly commented on #45
This was partly fixed by @hdt80 but it should reflect the amount of worlds you have (eg ItsMiiOlly_3, ItsMiiOlly_4 etc).

[2014-08-03 21:14] hdt80 commented on #45
I thought I fixed that in the latest commit.

[2014-08-04 15:46] itsmiiolly commented on #45
This has been fixed.

[2014-08-04 15:46] #45 closed, assigned to nobody

[2014-08-04 15:57] itsmiiolly opened #47 "Final Preparations"
So we're in our final stages of development and we're very close to release. Below is a checklist of what needs to be done. Feel free to add/check off anything on the list.
- [x] Refine the website (design wise etc)
- [x] Make DynamicDB and Elevation co-exist (need to update apache commons in Elevation)
- [x] Block the rest of the plugins on locked/unowned worlds (VS, NBTEditor and SignEdit)
- [ ]

[2014-08-04 20:17] itsmiiolly opened #48 "Configuration reload command"
Just a simple suggestion: `/elevation reload [world]` helpful for reloading the plugin config or a specified world's config.

[2014-08-05 02:57] AustinLMayes commented on #48
1. This should be on the private repos's issues.
2. We can discuss further there

[2014-08-05 02:57] #48 closed, assigned to nobody

[2014-08-05 12:02] itsmiiolly commented on #48
Why does it need to be there? What's wrong with posting it here?

[2014-08-05 18:40] molenzwiebel commented on #48
This repo is mainly for issues that are relevant for _the users_ of Altitude. If the issue is for a specific plugin, and you have access to that repo, please make it in the private repo (for clarity).

[2014-08-05 19:35] itsmiiolly commented on #48
rude

[2014-08-08 01:34] Pingy opened #49 "Itemizer Plugin"
Isn't itemizer not needed since we have NBTEditor? NBTEditor does everything and more than Itemizer.

[2014-08-08 11:53] itsmiiolly commented on #49
I want to keep Itemizer since I find it a bit easier to use than NBTEditor. People can choose which plugin they want to use anyway.

[2014-08-08 11:53] #49 closed, assigned to ollyy

[2014-08-08 20:20] itsmiiolly commented on #47
Website is now pretty much complete. 1 down, 7 to go!

[2014-08-08 20:39] itsmiiolly commented on #47
2 down, 6 to go. Blocking system is pretty much complete!

[2014-08-09 17:06] Matic0B opened #50 "Wrong coloring in some pages"
The word "NOTE" is colored red in the Teams tab when in all others its black.

Teams
http://gyazo.com/38a94159fd8e1a584b23f1038e11757a
Others:
http://gyazo.com/0ab528183b98fc088c8fe82de0c52fb8
http://gyazo.com/57bf6097dad8330f33826d0d2b26d13e

Same goes for the FAQ site. "NOTE" is colored red.
http://gyazo.com/939afc196a0e1a28b0b99b508dde5c5d
http://gyazo.com/b04e0202c1e688199f6da086c16b606c

[2014-08-09 17:25] Matic0B opened #51 "Missing Spacing"
All sites have a nice spacing between the main content except the Getting Started page.

Getting Started site:
http://gyazo.com/d7d8906bc35ebee70d941c9a5da5cf31

Others:
http://gyazo.com/ec2764b7213805ff1d22b904b5740b19
http://gyazo.com/0ee1f5c7a0b17915af2b90614aa9dea0
http://gyazo.com/883e7870fecf2cf2db4cec1ff1862cea
http://gyazo.com/916b8eed2e727f71abbf33f3169667ce

[2014-08-09 22:06] Pingy opened #52 "CommandBook MOTD"
When you log into the server, one of the first things the server automatically sends you is "This is the default CommandBook MOTD! Adjust it in the config.yml." Shouldn't that be changed?

[2014-08-09 22:52] Matic0B commented on #52
It was mentioned before. Apparently it resets after every server restart

[2014-08-09 23:05] ryanwarsaw opened #53 "Joining private world not enforced"
Bug Replication:

Join open world that you do not own > have the owner make the world private > and reconnect.

Basically, it spams a shitload of this:

![2014-08-09_18 51 31](https://cloud.githubusercontent.com/assets/6530909/3867974/64a9a12c-2019-11e4-929c-d88180a404a4.png)

Proposed fix:

If a player joins a world that he/she does not have permission to join, teleport them to the hub world.
Pos

[2014-08-09 23:21] ryanwarsaw opened #54 "Extreme lag while using "Your Worlds" book."
When you type /mymaps -b you get a book containing all your worlds.

When right clicking the book its about a 5 to 6 second delay before the book opens up.

This lag also allows players to pick up the "wool" and drag it around their inventory. This only lasts for 5 to 6 seconds before the lag stops and the player teleports. With or without wool in hand.

When teleporting to the world you are in, w

[2014-08-09 23:23] ryanwarsaw opened #55 "mymaps command GUI is broken."
The entire GUI is broken, the wools and data show up correctly, its just when you click the wools they do  not do anything. You can take them out, like any normal chest. Clicking them just picks them up.

[2014-08-09 23:29] Matic0B commented on #54
I think its your connection

[2014-08-10 03:44] Pingy commented on #55
This happened to me once thinking I was lagging.

[2014-08-10 10:22] Shadowbladz opened #56 "Squids spawning in water on maps with mobs turned off"
Squids are spawning on the water part of my map even though I have mobs toggled off

http://gyazo.com/9be983ecef283b226dc2fa087ac041d8

[2014-08-10 11:47] itsmiiolly commented on #55
The map menu works for me. Are you sure it isn't just lag?

[2014-08-10 11:47] itsmiiolly commented on #54
It _may_ be due to lag.

[2014-08-10 11:48] itsmiiolly commented on #52
I'll get round to this.

[2014-08-10 11:49] itsmiiolly commented on #53
Duplicate of #38

[2014-08-10 11:49] #53 closed, assigned to nobody

[2014-08-10 13:48] ryanwarsaw commented on #55
No, I can confirm that the /mymaps GUI is broken. Not because of lag.

[2014-08-10 13:48] Matic0B commented on #55
Its probably lag. Im not experiencing this

[2014-08-10 13:55] ryanwarsaw opened #57 "Teleporting issue."
![capture](https://cloud.githubusercontent.com/assets/6530909/3869534/bdc674a2-2095-11e4-83f8-800dba7a730e.PNG)

The person teleporting to another world, can't add himself to another persons world :package:

[2014-08-10 13:57] ryanwarsaw commented on #55
![capture](https://cloud.githubusercontent.com/assets/6530909/3869537/3ff4d9d2-2096-11e4-85f1-104e0de7f6a2.PNG)

I am not lagging. I assure you.

[2014-08-10 13:58] itsmiiolly commented on #57
I modified commandbook to show this message every time you tp someone to you. I'll work out a better way later...

[2014-08-10 13:59] itsmiiolly commented on #55
idk then

[2014-08-10 14:36] ryanwarsaw commented on #55
I think its fair to say this is a code related issue, and not a server issue. /mymaps -b works perfectly fine.

I believe its just a code related problem.

[2014-08-10 14:55] Dinner1111 commented on #55
It cannot be a code related problem if users cannot reproduce under the same conditions. Can you provide any more details?

[2014-08-10 14:57] ryanwarsaw commented on #55
@Dinner1111 I believe they are referring to /mymaps -b and I am referring to /mymaps.

[2014-08-10 16:48] Pingy commented on #52
Can't you just remove it completely?

[2014-08-10 16:54] itsmiiolly commented on #52
There's no point, I'm editing it when the server is done.

[2014-08-10 16:55] itsmiiolly commented on #55
`/mymaps` will default to a list soon anyway.

[2014-08-10 18:54] itsmiiolly commented on #50
Fixed, thanks.

[2014-08-10 18:54] #50 closed, assigned to ollyy

[2014-08-11 10:35] itsmiiolly opened #58 "/removemember doesn't work for offline players"
title

[2014-08-11 10:36] itsmiiolly opened #59 "Make /mymaps default to a list"
The mymaps menu is a little buggy when using `/mymaps` (see #55 ) so default it to a list and keep the option to use a book instead

[2014-08-11 10:37] itsmiiolly commented on #55
Switching to #59

[2014-08-11 10:37] #55 closed, assigned to nobody

[2014-08-11 10:39] itsmiiolly commented on #54
I can reproduce this bug. When I teleport to the world "EnderDragon" it spams the message and seems to TP to matic's world too. Idk how often this happens.

[code]

[2014-08-11 12:47] itsmiiolly opened #60 "Proposal to new world system"
- Normal users will get 1 world and can /delete and remake one if needed
- Donators will have their world cap increased to 3
- You can have the ability to purchase 3 worlds and 5 worlds
- No custom names since they're too complicated and shit, instead just have ItsMiiOlly, ItsMiiOlly-2, ItsMiiOlly-3 etc etc
- Each user has their own folder to make life easier. For example, the `ItsMiiOlly` folder

[2014-08-11 21:27] itsmiiolly opened #61 "Completely redo /load"
(No offense Nathan) but /load was coded pretty horribly. There are tons of bugs and I think some improvements could be made to make life easier.
### Bugs
- The `__MACOSX` folder gets loaded in when it shouldn't
- Bugs with world name limits (eg `The name 'thestrangeboy-2' is longer than the limit of 16 characters`) - this is not longer than 16 chars
- Dropbox uploads seem to break it (needs a vill

[2014-08-11 22:49] AnthonyTag opened #62 "Make /c & /g toggleable"
If you type `/c` it will toggle you to team chat and any messages sent will go directly there.
If you type `/c <message>` it will keep you set to global chat but send that specific message to team chat.

[2014-08-11 22:53] AnthonyTag opened #63 "Automatically add build team members to each other's worlds."
Seeming they are a build team they should trust each other to build together. But I can see how this could possibly be abused.

[2014-08-11 22:55] EyQu commented on #63
+1

[2014-08-11 23:54] hdt80 commented on #62
That was implemented, but Olly didn't like it.

[2014-08-11 23:54] #62 closed, assigned to nobody

[2014-08-12 00:10] ryanwarsaw commented on #63
-1 Not a good idea. Thats why the server has staff. For disputes like this.

[2014-08-12 00:16] ryanwarsaw commented on #58
I imagine this could be fixed very easily. Possibly using the getOfflinePlayer();
Although I imagine its alot harder since you guys have Databases, and such.

[2014-08-12 00:18] ryanwarsaw commented on #59
I personally prefer using the book instead of the GUI as you don't have to type a command. You can simply right click the book and your good to go! +1

[2014-08-12 00:55] AustinLMayes commented on #58
You should be putting this issue in Elevation.

[2014-08-12 00:57] AustinLMayes commented on #61
Again, this should be in Elevation.

[2014-08-12 00:57] AustinLMayes commented on #60
Again, put these in Elevation

[2014-08-12 08:11] Matic0B commented on #63
/state team
It would give viewing permissions to team members for that world

Small suggestion

[2014-08-12 10:11] itsmiiolly commented on #63
@rywarsaw what?

I love this idea. I'll make sure the devs get round to adding this.

[2014-08-12 10:14] itsmiiolly commented on #58
It's an issue repo for a reason. Why do we have to put everything there? Do we have something to hide?

[2014-08-12 12:27] itsmiiolly commented on #61
We shouldn't require the `villages.dat` file. It causes errors and it's just hassle.

[code]

[2014-08-12 15:41] ryanwarsaw commented on #63
@matic0basle I like your idea!

[2014-08-12 16:36] itsmiiolly opened #64 "Random NPE's"
[redacted]

[2014-08-12 16:39] Dinner1111 commented on #64
@ItsMiiOlly The task for unloading a world is erroring

[2014-08-12 16:46] itsmiiolly commented on #64
ya ignore me this doesn't occur anymore

[2014-08-12 16:46] #64 closed, assigned to nobody

[2014-08-12 18:29] Pingy opened #65 "Afk doesn't detect movement on y axis"
If you do /afk and go up and down, it doesn't say "You are now not marked as afk"

[2014-08-12 20:43] Matic0B opened #66 "[SUG] Add the IP to "Getting Started""
http://mapdev.it/getting_started

The IP should be displayed on this page aswell not only on the index one

[2014-08-12 21:27] itsmiiolly commented on #66
It's displayed on the homepage so there isn't really any point putting it on the getting started page.

[2014-08-12 21:27] #66 closed, assigned to nobody

[2014-08-12 22:46] gcflames5 opened #67 "Make warn reason text centered"
the punishment text is all off centered

[2014-08-12 22:47] skipperguy12 commented on #67
+1

[2014-08-13 09:58] itsmiiolly commented on #67
Wtf

[2014-08-13 11:06] Matic0B commented on #67
lol

[2014-08-13 19:15] Matic0B opened #68 "/delete does not work"
Using only "/delete" will attempt to delete world "matic0basle" but theres no world "matic0basle" because I have worlds renamed.
Then trying "/delete matic0basle2" gives the "You don't have permission." text even tho its my world.

[2014-08-14 15:33] Matic0B opened #69 "/hug - No permission"

[2014-08-14 18:24] Matic0B opened #70 "/revisions/web - Broken page"
Something keeps going wrong

![](http://i.gyazo.com/9fe367c4f9ad133fc88a640080f8ac9d.png)

[2014-08-14 18:24] Narwhale opened #71 "You can change the time of anyone's world and it broadcasts to the whole server"
I'm not added in matic's world but I can still change the time
http://i.imgur.com/hqfGprH.png

[2014-08-14 18:26] Matic0B commented on #70
Not broken anymore.

[2014-08-14 18:26] #70 closed, assigned to nobody

[2014-08-14 18:41] Narwhale opened #72 "Add a ./state public -b flag to states"
The -b flag would allow anyone to build and join your map. Useful for public building events.

[2014-08-14 19:04] itsmiiolly commented on #72
:+1:

[2014-08-14 20:30] ryanwarsaw commented on #69
I believe its still being worked on.

[2014-08-14 20:37] itsmiiolly commented on #69
already fixed

[2014-08-14 20:37] #69 closed, assigned to nobody

[2014-08-15 23:48] gcflames5 commented on #68
@matic0basle  Are you a default user (no special perms added/removed?)

[2014-08-15 23:49] gcflames5 commented on #65
@Pingy I don't think this really matters, any other action that the player does will trigger it, odds are they won't just be moving up and down and doing nothing, I'll look into this though, thanks.

[2014-08-15 23:56] gcflames5 commented on #40
@ItsMiiOlly  @skipperguy12 @Electroid The unloading issue will not be a problem with the new server restart feature, all worlds will be unloaded at a specified time each day and therefore we won't have to worry about RAM issues, loaded worlds with no loaded chunks do not pose a major RAM problem and therefore can wait to be unloaded until the next server restart. I think we need to come up with a

[2014-08-15 23:57] gcflames5 commented on #38
@Narwhale Thank you, we've identified the troublesome code and the problem is being addressed

[2014-08-16 00:30] gcflames5 opened #73 "Auto-restart script"
Create an auto-restart script in order to restart server (but more importantly to save and unload worlds and free up leaked RAM)

[2014-08-16 00:30] gcflames5 commented on #73
Done.

[2014-08-16 08:48] Matic0B commented on #40
Why not unload a world when noone is on it and when someone tries to go on it the world would load for them.
If there was no activity on the world for 2weeks -1month then delete.

[2014-08-16 08:48] Matic0B commented on #68
@gcflames5 Im a alpha tester. I have the green star (not sure what the rank is officialy called)

[2014-08-16 12:54] Matic0B opened #74 "AFK glitched in the player list"
I went AFK for a second but when I came back it never said im no longer AFK so my name in the tab list is staying red

![](http://i.imgur.com/sGj8svx.png)

![](http://i.imgur.com/R4YCcV1.png)

[2014-08-16 13:21] molenzwiebel commented on #40
@matic0basle
That is already happening. What Olly means is removing it from the server (making it not accessible while keeping the files to prevent cluttering)

[2014-08-16 13:23] Matic0B commented on #40
@molenzwiebel oh ok. i think one week would be enough then

[2014-08-16 13:31] Matic0B opened #75 "Messed up spelling in the shop"
![](http://i.gyazo.com/188151200abc8376bf472fa489ed7b89.png)

"apprieicate"

[2014-08-16 13:50] itsmiiolly opened #76 "[1.8] Make screen flash red when sending a hug"

[2014-08-16 13:58] gcflames5 commented on #68
@matic0basle Fixed.

[2014-08-16 14:12] #73 closed, assigned to nobody

[2014-08-16 16:23] #68 closed, assigned to nobody

[2014-08-16 20:43] Matic0B opened #77 "New command - /memberlist"
Displays the list of people that have permission to view the world and that have build permission.
The list could also say if the person is a member or a builder

[2014-08-16 21:37] Matic0B opened #78 "You can bypass /flag fire"
When fire is disabled you cannot use flint and steel to create fire but you can still use the fire block.

Do /i fire and place it down even if fire is disabled.

[2014-08-16 21:56] tstewart commented on #78
It means fire spread.

[2014-08-16 22:01] Matic0B commented on #78
@TehZaner If its there for fire spread then it should allow the use of flint and steel

[2014-08-16 22:03] tstewart commented on #78
True <.<

[2014-08-17 18:16] itsmiiolly commented on #77
![image](http://i.imgur.com/nX3Ks1O.png)

[2014-08-17 18:16] itsmiiolly commented on #77
^Member list and new (possible) colours

[2014-08-17 18:22] itsmiiolly commented on #74
I'm not getting this error.

[2014-08-17 18:23] itsmiiolly commented on #71
Should be fixed when @molenzwiebel's permission thing is complete.

[2014-08-17 18:34] itsmiiolly commented on #77
New changes pushed to the new Elevation build.

[2014-08-17 18:34] #77 closed, assigned to ollyy

[2014-08-17 20:05] ryanwarsaw opened #79 "Very very minor bug"
./rename crashes the entire server and kills elevation. No worries just a tiny itty bitty error.

Also don't ask how I know. :-1:

[2014-08-17 20:06] itsmiiolly commented on #79
we know

[2014-08-17 20:09] ryanwarsaw commented on #79
Oh, this is just for anyone else who might be a moron and try to use it :P

[2014-08-17 20:09] #79 closed, assigned to nobody

[2014-08-17 20:17] Matic0B commented on #74
@ItsMiiOlly It was a one time thing for me as well but I still reported it in case it repeats

[2014-08-17 21:16] Matic0B opened #80 "Worlds not being removed"
![](http://i.gyazo.com/aa1424ec7cfea7e6eae0961846fb51b7.png)

I have a ton of worlds in my book but even after a player removes you from his world the world wool stays in your worlds book

[2014-08-17 22:04] #74 closed, assigned to nobody

[2014-08-17 23:18] CoWinkKeyDinkInc opened #81 "Have a world that all players can access that shows useful hidden blocks."
I was thinking that there should be a world that all players can access, but can't build on.  It's basically a world that shows blocks and their commands that are hidden that might be useful to mapmaking.  Like 43:8, which is the Smooth Full Half Slab stone block.  The Sandstone block with the top face all-over it.  The mushroom blocks, Block 36, and so on.

[2014-08-18 02:22] AustinLMayes commented on #81
neat, maybe just a section in the lobby?

[2014-08-18 02:23] AustinLMayes commented on #80
This is not needed and is a bloat feature. Leaving open due to worlds not being removed.

[2014-08-18 02:24] AustinLMayes commented on #74
It's a commandbook bug.

[2014-08-18 12:39] JsKingBoo opened #82 "Flying very slowly doesn't break the AFK marker"
^
1. Fly
2. /afk
3. Tap the WASD[LSHIFT] or [SPACE] every time you stop moving. I was able to travel a considerable distance while "afk" until I messed up

[2014-08-18 12:44] itsmiiolly commented on #82
This is a bug with commandbook and is something extremely minor that we won't bother fixing it. :P

[2014-08-18 12:44] #82 closed, assigned to nobody

[2014-08-18 12:46] itsmiiolly commented on #65
This is a bug with commandbook and is something extremely minor that we won't bother fixing it. :P

[2014-08-18 12:46] #65 closed, assigned to nobody

[2014-08-19 14:47] gcflames5 commented on #47
Checkbox #5 (Auto-restart plugin & script that opens it back up again (server restarts every so often)

Done, we just need transfer the way altx did it.

[2014-08-19 14:48] gcflames5 commented on #47
Checkbox #7 (Auto-save tool/plugin)

If the /backup system that I pushed satisfies this, please feel free to check it, otherwise I can add a quick autosave functionality.

[2014-08-19 14:52] skipperguy12 commented on #47
@gcflames5 checked.

[2014-08-19 15:02] itsmiiolly commented on #47
Woop woop!

[2014-08-19 15:06] Matic0B opened #83 "Revision link - 404"
Clicking on the link in the revisions will lead you to a github 404 page.

I wouldn't say its a bug because the code is private so it should not show it but don't link the revision? Just display the number but dont link to github.

![](http://i.gyazo.com/1272e8eca7d0db85eff94d9dbbc56a46.png)

[2014-08-19 15:22] gcflames5 opened #84 "Reorganize storage of player worlds"
Right now every single world is stored in the root folder, which makes navigating the directory quite annoying, and this is when we only have about 10~15 people on the server, when we go public, we are going to (presumably) have much more. The amount of worlds in the root folder will be insane.

What I recommend: The backup filesystem is already as follows:
[Server Root] -> [users] -> [playername

[2014-08-19 15:27] skipperguy12 commented on #84
ok :train:

[2014-08-19 16:06] itsmiiolly commented on #84
eZ

[2014-08-19 17:54] FedericoMarMor opened #85 "Point option on Pgm toolkit paper gives <block> on the xml"
How to reproduce

Step :one: Open Pgm toolkit (paper)
Step :two: Choose point option ,left click and then name the region
Step :three: Upload the xml
Step :four: Check Xml, block is used instead of point

[2014-08-19 18:18] Matic0B commented on #85
This isnt really an Altitude bug more a PGMToolkit bug but ok

[2014-08-19 18:25] itsmiiolly commented on #85
All of our plugins issues can be reported here. :p

[2014-08-19 22:11] molenzwiebel commented on #84
Working on that a bit already, will probably have to wait for UUID conversion first though

[2014-08-19 22:14] gcflames5 commented on #84
Have there been any commits since the transfer of altx? If not, then I can transfer backups to UUID and nag skipper to finish his world owner transfer to UUID

[2014-08-19 23:10] AustinLMayes commented on #85
I like your numbers!

[2014-08-19 23:10] AustinLMayes commented on #83
The repository is private.

[2014-08-19 23:10] #83 closed, assigned to nobody

[2014-08-20 06:11] Matic0B commented on #83
@NathanTheBook And that why instead of a link it should just be text

[2014-08-20 10:39] Matic0B opened #86 "/nv resets on death"
If you die with /nv (night vision) turned on, it will reset when you respawn and turn off again.

[2014-08-20 13:41] Matic0B opened #87 "Pushing while not builder"
If the world you are on as a member (not builder) has mobs enabled you can push them.

[2014-08-20 13:53] itsmiiolly commented on #87
Dupe of #6

[2014-08-20 13:53] #87 closed, assigned to nobody

[2014-08-20 13:55] itsmiiolly commented on #86
Uh, this is intended because you lose all of your effects when you die. There might be a way to keep the night vision on death...idk

[2014-08-20 15:01] skipperguy12 commented on #83
@matic0basle It's still helpful to people who do have access to it. However, I can see why it would create some confusion. I'm sure we could just check for admin log in.

[2014-08-20 16:47] #67 closed, assigned to nobody

[2014-08-20 16:49] gcflames5 commented on #32
@NathanTheBook has fixed this, he just needs to push

[2014-08-21 02:16] AustinLMayes commented on #32
@gcflames5 It's live

[2014-08-21 04:43] CoWinkKeyDinkInc opened #88 "Logged into a diffrent map without being invited or able to acess it."
I logged onto the server and was in Electroid's map.  Last time I was on the server I logged off in my world.
![2014-08-20_22 01 36](https://cloud.githubusercontent.com/assets/7586568/3991888/f065360a-28ec-11e4-82af-fc3bb5e4ae09.png)
I also spawned with the equipment, that Electroid probably used.  I was unable to break blocks, and when I teleported to my map and tried to teleport to TourneyCTW, I

[2014-08-21 12:19] ryanwarsaw commented on #88
This is already a known bug and it has already been reported.

[2014-08-21 12:35] itsmiiolly commented on #88
Dupe of #38

[2014-08-21 12:35] #88 closed, assigned to nobody

[2014-08-21 15:12] Matic0B opened #89 "Messed up shop packages"
![](http://i.gyazo.com/8ab1d72102ae268c3047045e2502c761.png)

The website donor package says your world cap gets increased to 3 worlds but the shop it self says 5 worlds.

![](http://i.gyazo.com/741e6ea2043e83a1957f64cfcb9794bb.png)

[2014-08-21 16:18] Matic0B commented on #68
@gcflames5 Are you sure this has been fixed? I tried /delete matic0basle-1 and it gave me the message "You don't have permission". When I only did /delete it marked the world matic0basle3 for deletion even when I was in the matic0basle-1 world.

I got pepsidawg00 to delete my world because I wasnt able to do it but still seems bugged

[2014-08-21 16:30] itsmiiolly commented on #68
the new version isn't deployed yet IIRC

[2014-08-21 17:05] CoWinkKeyDinkInc commented on #88
I never had access to the map.  Electroid never added me to the world.

[2014-08-21 17:30] ryanwarsaw commented on #89
eZ

[2014-08-21 17:38] itsmiiolly commented on #88
Yeah it's a bug with spawning and stuff

[2014-08-21 17:41] ryanwarsaw commented on #88
@ItsMiiOlly eZ

[2014-08-21 18:44] Pingy opened #90 "Team Invite"
When inviting someone to a build team, it sends the message "You were invited to (teamname)" to everyone.

[2014-08-21 19:05] Pingy commented on #90
It doesn't seem to be working anymore :o

[2014-08-21 19:40] Pingy commented on #90
The message

[2014-08-21 21:10] AustinLMayes commented on #86
@ItsMiiOlly ~~it is indeed possible, I dunno how practice though~~

[edit /mojang]
 to be continued...

[2014-08-21 21:22] Narwhale commented on #86
I think you loose nightvision randomly when switching worlds as well, also it doesn't toggle like the [tip] says it should.

[2014-08-21 23:01] #90 closed, assigned to nobody

[2014-08-22 02:37] Pingy opened #91 "Timing Out"
For a few hours whenever I try to connect, it times me out and it says its online with 6 people on. Is this happening to anyone else?

[2014-08-22 04:50] #91 closed, assigned to nobody

[2014-08-22 16:19] gcflames5 commented on #90
Working again?

[2014-08-22 16:21] gcflames5 commented on #88
For some reason the spawning system puts the player in the last world any player was in, its a very wierd system

[2014-08-22 16:21] gcflames5 commented on #89
@NathanTheBook ufix

[2014-08-22 16:23] gcflames5 commented on #68
@matic0basle The reason this is not fixed (well it is) but its because we are still using bukkit permissions. As long as we are using bukkit permissions and not database's these problems will persist.

@NathanTheBook has to add perms to the web panel (or give someone access so they can) and @ItsMiiOlly has to get rid of bukkit perms

[2014-08-22 16:23] gcflames5 commented on #32
@NathanTheBook yeah but bukkit permissions still breaks this

[2014-08-22 17:08] Pingy commented on #90
If you mean that the build team thing is working correctly then yes.

[2014-08-22 18:34] AustinLMayes commented on #88
@gcflames5 Can we override this?

[2014-08-23 17:09] Matic0B opened #92 "No command to confirm"
![](http://i.gyazo.com/5886fbb62e372fba4151b8f69fb4e08f.png)

I did /confirm right after i did /delete (less than 15 seconds).

Tried deleting multiple times (under 15 seconds) and still nothing.

[2014-08-23 17:34] molenzwiebel commented on #92
Try /elevation:confirm. CommandBook might override it because someone changed its settings

[2014-08-23 17:37] Matic0B commented on #92
@molenzwiebel That worked.

[2014-08-23 18:59] itsmiiolly commented on #92
We had a commandbook version that removed this but someone replaced it with the old version

[2014-08-23 20:33] #92 closed, assigned to nobody

[2014-08-24 20:04] CoWinkKeyDinkInc opened #93 "Using /tk commands Says "you do not have permission""
Using any /tk command gives the usual CraftBukkit error: "I'm sorry you do not have permission to perform this command.  Please contact adminstrators"  blah blah blah.

[2014-08-24 20:06] itsmiiolly commented on #93
@molenzwiebel make a repo for this pls

[2014-08-24 20:44] AustinLMayes commented on #93
Players don't have permission to run the command.

I plan to bring down the server shortly today to force Olly to switch to the new DB permissions system. Should be fixed after that

[2014-08-24 20:45] tstewart commented on #93
omg ddos

[2014-08-24 20:47] itsmiiolly commented on #93
@NathanTheBook you're asking for a slap atm

[2014-08-25 02:37] Narwhale opened #94 "Add a way to promote people to "map co-owners""
Co-owners would have the ability to download and change flags/lock maps and possibly add and remove other players from the map. Co-owners won't be able to delete the map, change backups or remove the original owner from the world.
The command would be something like /add [username] -o.

[2014-08-25 02:59] skipperguy12 commented on #40
We should archive the map to mega.co.nz or some mass storage site so it's not fully lost. If a player complains about losing their map, they can email our support and we will manually get it for them when we're free.

There should be a command to mark a time period you will be gone to prevent a deletion.
Also maybe after deletion a way to get back your map.

[2014-08-25 03:00] gcflames5 commented on #40
@skipperguy12 is right, a person could just go away on vacation or something, come back, and find out they're map is gone. I think that after a week of inactivity, the owner (and all builders) are sent a download link and a message saying that their map will be deleted in **x** amount of days. Maybe we can have them click a link to keep the map alive a bit longer too.

[2014-08-25 03:02] gcflames5 commented on #56
This is so wierd...

**[Edit]** Can confirm this is an issue

[2014-08-25 03:48] CoWinkKeyDinkInc commented on #40
@gcflames5 Maybe do this through an account system on the website so it may email them?

[2014-08-25 05:31] Matic0B opened #95 "World Pages (Suggestion)"
So I have a lot of worlds.

![](http://i.gyazo.com/3f2fa97577d27a21de168ae9f85d2910.png)

And a neat little thing would be to have pages in the my worlds book.
This is something it could look like:

![](http://i.gyazo.com/1ec238a42ecef4a50ea0f68922e38101.png)

First two rows would be maps and then the buttons. Light blue would be previous page and dark would be next page. Pressing on one of them w

[2014-08-25 05:34] Matic0B opened #96 "World Sorting"
![](http://i.gyazo.com/3f2fa97577d27a21de168ae9f85d2910.png)

Currently it goes [your maps] [other maps] but could it be so the locked worlds (red) that you are added to would appeat on the end so its not just random?

[2014-08-25 05:48] Matic0B opened #97 "Can't make a world"
![](http://i.gyazo.com/d184bbeae853cf3d79cf2051e2a9f8a8.png)

Tried making a world. Thats what I got.

[2014-08-25 11:00] itsmiiolly commented on #97
We're undergoing permission maintenance.

[2014-08-25 11:01] itsmiiolly commented on #94
I'll have a crack at this.

[2014-08-25 13:43] skipperguy12 commented on #97
closed by e5f09890609c6501172e8e7735f0a776924855ed

[2014-08-25 13:43] #97 closed, assigned to nobody

[2014-08-25 23:55] AustinLMayes commented on #40
@CoWinkKeyDinkInc I like the idea of emailing someone when there world is at risk of deletion. Give them a link to extend the deletion time. This will be possible when @skipperguy12 finishes in-game registration.

[2014-08-27 03:57] CoWinkKeyDinkInc opened #98 "Log in typo"
Remember me check box says "Remeber Me".

[2014-08-27 10:50] 058c37a272bed3464d47f0b01038a16a commented on #98
@NathanTheBook

[2014-08-27 15:24] ryanwarsaw commented on #86
I'll take a crack at it today.

[2014-08-28 01:45] gcflames5 opened #99 "Owner field sometimes displays "Loading""
![Great job molen](https://i.imgur.com/bKItV5q.png)

[2014-08-28 02:15] AustinLMayes commented on #99
MOMMY IM IN THE PICTURE!

[2014-08-28 08:49] molenzwiebel commented on #99
Intentional behavior. Happens when the name of the owner is looked up, `Loading...` is shown while the request is going. If the request fails, `Loading...` stays until the scoreboard is refreshed (flag toggle, lock). Might change to not show any owner if it is not loaded, although that will make a name suddenly appear is the Mojang API is slow.

[2014-08-28 10:19] 058c37a272bed3464d47f0b01038a16a commented on #99
Cache UUID and names?

[2014-08-28 11:01] molenzwiebel commented on #99
I do, current setting is 10 minutes and UUID -> Name first checks the players that are online.
Note that it probably wasn't the limit the Mojang API has, as that is 600 requests every 5 minutes (and I can't imagine us doing 600 requests when we cache).

[2014-08-28 11:25] AustinLMayes commented on #99
Maybe if it fails show something besides `Loading...` ?

[2014-08-28 17:27] gcflames5 commented on #99
Well I don't believe the cache actually works because I logged into the world for the first time, I saw my name, however, every time after that it said "Loading..." regardless of the flags I changed or if i rejoined the world

[2014-08-29 08:01] #99 closed, assigned to molenzwiebel

[2014-08-31 05:25] CoWinkKeyDinkInc opened #100 "Update googlemail to gmail in readme."

[2014-08-31 14:38] #100 closed, assigned to nobody

[2014-08-31 14:38] skipperguy12 commented on #100
Thanks!

[2014-09-24 03:13] ryanwarsaw opened #101 "Altitude dead?"
Is altitude dead? It seems like the entire project has gone in-active.

[2014-09-24 05:32] Electroid commented on #101
The project will resume full strength after Sponge is developed for mass use.

[2014-09-24 05:32] #101 closed, assigned to nobody

[2014-09-24 05:32] Electroid commented on #94
Manager system

[2014-11-30 15:13] ryanwarsaw opened #102 "Craftbukkit 1.8"
Yesterday morning Spigot released a updated build for 1.8, along with a updated build of Craftbukkit. they have implemented a new BuildTools system of distributing the code, thus drowning worries about the license.

They have created a new Stash page as shown here: https://hub.spigotmc.org/stash/projects

One of those repositories is for Overcast's SportBukkit which will now continue thanks to the

[2014-11-30 16:01] CoWinkKeyDinkInc commented on #102
I don't think Sponge would be a good idea at this point.

[2014-12-01 02:03] CoWinkKeyDinkInc commented on #102
Pretty much the only reason it's good is because there is no "Copyright Stuff" involved, although many couldn't care less about some guy that isn't willing to sue the md_5 for apparently using his code.  Like why is this guy mad that his stuff is out there for anyone to use, and the point is that anyone can use it?

[2014-12-22 03:00] CoWinkKeyDinkInc opened #103 "Use Agloe for map management."
Plastix recently open-sourced (now closed sourced again) a plugin called [Agloe](https://github.com/Plastix/Agloe), which is almost the same plugin as Elevation with Dropbox uploading, permissions to view the world, and etc.

I think we should switch to Agloe and use Spigot to run the server, or has Altitude been cancelled?

[2014-12-22 03:03] skipperguy12 commented on #103
Altitude is not cancelled, and Agloe is based off of Elevation. We are currently revamping Elevation as the old one wasn't quite as good as we'd like it to be.

[2014-12-22 10:03] molenzwiebel commented on #103
Agloe is based off Elevation code and was open sourced with our permission. We are currently working on revamping our world management and backup system, with the intention of releasing begin 2015.

[2014-12-22 10:03] #103 closed, assigned to nobody

[2015-01-01 17:25] #102 closed, assigned to nobody

[2015-06-15 15:44] #54 closed, assigned to nobody

[2015-06-15 15:44] #57 closed, assigned to nobody

[2016-02-16 01:48] #63 closed, assigned to nobody

[2016-02-16 02:27] ryanwarsaw commented on #63
The nostalgia lol

[2016-02-16 06:02] AnthonyTag commented on #63
@ryanwse lmao just came back to close my old open issues (sry for the ping people)

[2016-02-18 03:28] AustinLMayes commented on #63
OMG HI GUIS

[2016-02-19 21:50] CoWinkKeyDinkInc commented on #63
Altitude Map Dev comeback confirmed??!?!

[2016-02-20 14:37] itsmiiolly commented on #63
maybe on another server ;)

[2016-09-20 19:41] #98 closed, assigned to AustinLMayes

[2016-09-20 19:41] #89 closed, assigned to AustinLMayes

[2016-09-20 19:41] #75 closed, assigned to AustinLMayes

[2016-09-20 21:50] CoWinkKeyDinkInc commented on #98
Why did you close it?  Is this server coming back?

[2016-09-21 08:39] 058c37a272bed3464d47f0b01038a16a commented on #98
@AustinLMayes just likes closing year old issues.